#docker_stop_grace_period = channel_prefetch_count * most_time_expensive_task + reserve_seconds
docker_stop_grace_period = 1*5+5
RABBITMQ_DEFAULT_USER = "string"
RABBITMQ_DEFAULT_PASS = "string"
RMQ_HOST = "x.x.x.x"
RMQ_PORT = "xxxx"
